body{
    background-image: url('./image/2.jpeg');
}
#b1{
    display: table;
    width: 100%;
}
#b2{
   display: table-cell;
   vertical-align: middle;
}
#a{
    color:rgb(65, 186, 223);
    font-size:40px;
    font-family: Arial,'Microsoft YaHei UI',宋体,sans-serif;
    
}






    